{{define "server-data"}}{{end}}

{{define "content"}}
  <div class="container failure-page">
    <img src="{{ .private.logo }}"/>
    <h1>SEITE NICHT GEFUNDEN</h1>
    <p>
      Der Link, auf den Sie geklickt haben, ist möglicherweise defekt oder<br />
      die Seite wurde möglicherweise entfernt
    </p>

    {{ if .public.tenant }}
      <span>Bring mich zurück zur <a href="{{ .public.settings.baseURL }}">{{ .public.settings.baseURL }}</a> Homepage.</span>
    {{ end }}
  </div>
{{end}}

{{define "end-of-body"}}{{end}}