{{define "server-data"}}{{end}}
        
{{define "content"}}
  <div class="container failure-page">
    <img src="{{ .private.logo }}"/>
    <h1>Shoot! Well, this is unexpected…</h1>
    <p>Ein Fehler ist aufgetreten und wir arbeiten daran, das Problem zu beheben! </br> Wir werden in Kürze einsatzbereit sein.</p>

    {{ if .public.tenant }}
      <span>Bring mich zurück zur <a href="{{ .public.settings.baseURL }}">{{ .public.settings.baseURL }}</a> Homepage.</span>
    {{ end }}
  </div>
{{end}}

{{define "end-of-body"}}{{end}}